*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );



}

.container{
    max-width: 900px;
    height: 500px;
    width: 100%;
    background: #fff;
    padding: 2px 20px;
    border-radius: 10px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 290px;
    background: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
}


form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input:hover{
    background: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgb(15, 109, 231) 0%, rgb(49, 4, 249) 100.2% );
}
.details{
    font-size: 20px;
}

.container .warning{
    font-weight: 500;
    font-size: medium;
}


@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .Input_data .input_box{
        width: 100%;
        margin-bottom: 15px;
    }
    .container form .Input_data{
        max-height: 300px;
        overflow-y: scroll;
    }
}

.button{
	
    height: 100%;
    width: 100%;
    margin: auto;
    border: none;
    background: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
}

